<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">

	<style>
		#map {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>

	<title>ECDIS Charts UK</title>
</head>

<body>

	<div id="map" class="map"></div>

	<script>

		function customLoader(tile, src) {
			var xhr = new XMLHttpRequest();
			xhr.responseType = 'blob';
			xhr.addEventListener('loadend', function (evt) {
				var data = this.response;
				if (data !== undefined) {
					tile.getImage().src = URL.createObjectURL(data);
				} else {
					tile.setState(TileState.ERROR);
				}
			});
			xhr.addEventListener('error', function () {
				tile.setState(TileState.ERROR);
			});
            
            xhr.open('GET', src);
			xhr.setRequestHeader("Ocp-Apim-Subscription-Key", "9d7d513a7e9849f8bc3ad9f05fe0b033");
			xhr.send();
		};

		var wms = new ol.layer.Tile({
			source: new ol.source.TileWMS({
				url: 'https://admiraltyapi.azure-api.net/avcso-enc-dataset/WMSServer?',
				//params: { 'LAYERS': '0,2,11,13,15', 'TILED': true },
				//params: { 'LAYERS': '0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21', 'TILED': true },
				params: { 'LAYERS': '0,1,2,3,5,8,9,10,11,12,14,15,16,17', 'TILED': true },
				tileLoadFunction: customLoader
			})
		});

		var map = new ol.Map({
			target: 'map',
			layers: [wms],
			view: new ol.View({
				center: ol.proj.fromLonLat([-1.29772, 50.78306]),
				zoom: 13
			})
		});

		map.on('moveend', function (e) {
		  var newZoom = map.getView().getZoom();
		  console.log('zoom end, new zoom: ' + newZoom);
		});

	</script>

</body>

</html>